div.event
  h2.title 
    a(href="/events/"+event._id)!= event.title
  div.date= event.date
  div.place= event.place
  div.description= event.description
  div.actions
    form(action='/events/' + event._id, method='post')
      input(type='hidden', name='_method', value='delete')
      input(type='submit', value='Delete')
    form(action='/events/' + event._id + '/edit', method='get')
      input(type='submit', value='Edit')
  